body {
  margin: 100px;
  padding: 20px 50px;
  border: 1px solid #276873;
}

#carrito {
  display: flex;
  flex-direction: column;
  border: 1px solid #276873;
  width: 30%;
  padding: 20px;
}
.product-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
input {
  width: 25px;
  height: 25px;
}
.btn {
  background: linear-gradient(to bottom, #108fbd 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  margin-top: 15px;
}
.total {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  flex-direction: column;
}
.total div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
h4 {
  width: 30%;
}
#totalCarrito {
  font-weight: bold;
  font-size: 25px;
}
